[submodule "compiler-construction-2020"]
	path = compiler-construction-2020
	url = https://github.com/alexhkurz/compiler-construction-2020.git
[submodule "bnfc"]
	path = bnfc
	url = https://github.com/BNFC/bnfc
[submodule "compiler-assignments"]
	path = compiler-assignments
	url = https://github.com/ChapmanCPSC/compiler-assignments.git
